streamlit == 0.88.0
numpy == 1.19.2
pandas == 1.2.0
datetime 
gspread-pandas == 2.3.0
google-auth == 1.24.0
google-auth-oauthlib == 0.4.2
google-pasta == 0.2.0
libprotobuf 
protobuf == 3.13.0.1
ssl
